<div class="container">
  <div class="row">
    <div class="col-md-12 center">

        <div id="quoteBox">
          <p class="quote"></p>
          <p id="authorBox" class="author"></p>
        </div><!--end quoteContainer-->

        <div id="buttonContainer">
          <a href="#" id="quoteButton"><button type="button" class="btn btn-primary btn-lg animated pulse">Generate Quote</button></a>
      </div><!--end buttonContainer-->

    </div><!--end col-12-->
    <a href="#books"><h3 class="book-header animated fadeInRight swing">Books by William S. Burroughs</h3></a>
  </div><!--end row-->

  <div class="bookshelf center" id="books">
    <div class="row">

       <div class="grid">
        <div class="grid-sizer"></div>

         <div class="grid-item">
           <figure>
           <img src="/images/burroughs/cat.jpg" alt="The Cat Inside" />
           <figcaption>
             <p>
               Originally published as a limited-edition volume, this moving and witty discourse on cats combines deadpan routines and dream passages with a heartwarming account of Burroughs's unexpected friendships with the many cats he has known. It is also a meditation on the long, mysterious relationship between cats and their human hosts, which Burroughs traces back to the Egyptian cult of the "animal other." With its street sense and whiplash prose, <em>The Cat Inside</em> is a genuine revelation for Burroughs fans and cat lovers alike.
             </p>
             <p><a href="#">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

         <div class="grid-item">
           <figure>
           <img src="/images/burroughs/cities.jpg" alt="Cities of the Red Night" />
           <figcaption>
             <p>
               While young men wage war against an evil empire of zealous mutants, the population of this modern inferno is afflicted with the epidemic of a radioactive virus. An opium-infused apocalyptic vision from the legendary author of <em>Naked Lunch</em> is the first of the trilogy with <em>The Places of the Dead Roads</em> and his final novel, <em>The Western Plains</em>.
             </p>
             <p><a href="#">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

         <div class="grid-item">
           <figure>
           <img src="/images/burroughs/exterminator.jpg" alt="Exterminator!" />
           <figcaption>
             <p>
               Conspirators plot to explode a train carrying nerve gas. A perfect servant suddenly reveals himself to be the insidious Dr. Fu Manchu. Science-fantasy wars, racism, corporate capitalism, drug addiction, and various medical and psychiatric horrors all play their parts in this mosaiclike, experimental novel. Here is William S. Burroughs at his coruscating and hilarious best.
             </p>
             <p><a href="#">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/hippos.jpg" alt="And the Hippos Were Boiled In Their Tanks" />
            <figcaption>
              <p>
                In the summer of 1944, a shocking murder rocked the fledgling Beats. William S. Burroughs and Jack Kerouac, both still unknown, we inspired by the crime to collaborate on a novel, a hard-boiled tale of bohemian New York during World War II, full of drugs and art, obsession and brutality, with scenes and characters drawn from their own lives. Finally published after more than sixty years, this is a captivating read, and incomparable literary artifact, and a window into the lives and art of two of the twentieth century’s most influential writers.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/interzone.jpg" alt="Interzone" />
            <figcaption>
              <p>
                <em>Interzone</em> is a collection of short stories and other early works by William S. Burroughs. The title was inspired by the International Zone in Tangiers, Morocco, where Burroughs lived for a time and by which he was greatly influenced.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/junky.jpg" alt="Junky" />
            <figcaption>
              <p>
                In his debut novel, Burroughs fictionalized his experiences using and peddling heroin and other drugs in the 1950s into a work that reads like a field report from the underworld of post-war America. The Burroughs-like protagonist of the novel, Bill Lee, see-saws between periods of addiction and rehab, using a panoply of substances including heroin, cocaine, marijuana, paregoric (a weak tincture of opium) and goof balls (barbiturate), amongst others.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/naked.jpg" alt="Naked Lunch" />
            <figcaption>
              <p>
                Since its original publication in Paris in 1959, Naked Lunch has become one of the most important novels of the twentieth century. Exerting its influence on the relationship of art and obscenity, it is one of the books that redefined not just literature but American culture. For the Burroughs enthusiast and the neophyte, this volume—that contains final-draft typescripts, numerous unpublished contemporaneous writings by Burroughs, his own later introductions to the book, and his essay on psychoactive drugs—is a valuable and fresh experience of a novel that has lost none of its relevance or satirical bite.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/nova.jpg" alt="Nova Express" />
            <figcaption>
              <p>
                <em>The Soft Machine</em> introduced us to the conditions of a universe where endemic lusts of the mind and body pray upon men, hook them, and turn them into beasts. Nova Express takes William S. Burroughs’s nightmarish futuristic tale one step further. The diabolical Nova Criminals—Sammy The Butcher, Green Tony, Iron Claws, The Brown Artist, Jacky Blue Note, Izzy The Push, to name only a few—have gained control and plan on wreaking untold destruction. It’s up to Inspector Lee of the Nova Police to attack and dismantle the word and imagery machine of these “control addicts” before it’s too late. This surrealist novel is part sci-fi, part Swiftian parody, and always pure Burroughs.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/place.jpg" alt="The Place of Dead Roads" />
            <figcaption>
              <p>
                A good old-fashion shoot-out in the American West of the frontier days serves as the springboard for this hyperkinetic adventure in which gunslingers, led by Kim Carson, fight for galactic freedom. <em>The Place of Dead Roads</em> is the second novel in the trilogy with <em>Cities of the Red Night</em> and The Western Lands.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/queer.jpg" alt="Queer" />
            <figcaption>
              <p>
                One of Burrough's most searing and astonishing writings. Dark, funny and full of the insights learned by courageous and intelligent writers who have genuinely lived on the very edges of society.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/soft.jpg" alt="The Soft Machine" />
            <figcaption>
              <p>
                <em>The Soft Machine</em> introduced us to the conditions of a universe where endemic lusts of the mind and body pray upon men, hook them, and turn them into beasts. Nova Express takes William S. Burroughs’s nightmarish futuristic tale one step further. The diabolical Nova Criminals—Sammy The Butcher, Green Tony, Iron Claws, The Brown Artist, Jacky Blue Note, Izzy The Push, to name only a few—have gained control and plan on wreaking untold destruction. It’s up to Inspector Lee of the Nova Police to attack and dismantle the word and imagery machine of these “control addicts” before it’s too late. This surrealist novel is part sci-fi, part Swiftian parody, and always pure Burroughs.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/ticket.jpg" alt="The Ticket That Exploded" />
            <figcaption>
              <p>
                <em>In The Ticket That Exploded</em>, William S. Burroughs’s grand “cut-up” trilogy that starts with The Soft Machine and continues through Nova Express reaches its climax as inspector Lee and the Nova Police engage the Nova Mob in a decisive battle for the planet. Only Burroughs could make such a nightmare vision of scientists and combat troops, of ad men and con men whose deceitful language has spread like an incurable disease be at once so frightening and so enthralling
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/western.jpg" alt="The Western Lands" />
            <figcaption>
              <p>
                Burroughs's eagerly awaited final novel in the trilogy begun with <em>Cities of the Red Night</em> and <em>The Place of Dead Roads</em> is a profound, revealing, and often astonishing meditation on mortality, loneliness, nuclear peril, and the inextinguishable hope for life after death.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/wild.jpg" alt="The Wild Boys" />
            <figcaption>
              <p>
                <em>The Wild Boys</em> is a futuristic tale of global warfare in which a guerrilla gang of boys dedicated to freedom battles the organized armies of repressive police states. Making full use of his inimitable humor, wild imagination, and style, Burroughs creates a world that is as terrifying as it is fascinating.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/yage.jpg" alt="The Yage Letters" />
            <figcaption>
              <p>
                In letters to Allen Ginsberg, an unknown young poet in New York, his journey to the Amazon jungle is recorded, detailing picaresque incidents of search for telepathic-hallucinogenic-mind-expanding drug Yage (Ayahuasca) used by Amazon Indian doctors for finding lost objects, mostly bodies and souls. 
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

     </div>
   </div>
  </div>
</div><!-- close container -->



<script type="text/javascript">

var author = "William S. Burroughs";

</script>
