<div class="container" id="top">
  <div class="row">
    <div class="col-md-12 center">

        <div id="quoteBox">
          <p class="quote"></p>
          <p id="authorBox" class="author"></p>
        </div><!--end quoteContainer-->

        <div id="buttonContainer">
          <a href="#" id="quoteButton"><button type="button" class="btn btn-primary btn-lg animated pulse">Generate Quote</button></a>
      </div><!--end buttonContainer-->
    </div><!--end col-12-->


    <a href="#books"><h3 class="book-header animated fadeInRight">Books by William S. Burroughs</h3></a>
  </div><!--end row-->

  <div class="bookshelf center" id="books">
    <div class="row">

       <div class="grid">
        <div class="grid-sizer"></div>

         <div class="grid-item">
           <figure>
           <img src="/images/burroughs/cat.jpg" alt="The Cat Inside" />
           <figcaption>
             <p>
               This moving and witty discourse on cats combines deadpan routines and dream passages with a heartwarming account of Burroughs's unexpected friendships with the many cats he has known. It is also a meditation on the long, mysterious relationship between cats and their human hosts.
             </p>
             <p><a href="#">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

         <div class="grid-item">
           <figure>
           <img src="/images/burroughs/cities.jpg" alt="Cities of the Red Night" />
           <figcaption>
             <p>
               While young men wage war against an evil empire of zealous mutants, the population of this modern inferno is afflicted with the epidemic of a radioactive virus. The first of the trilogy with <em>The Places of the Dead Roads</em> and his final novel, <em>The Western Plains</em>.
             </p>
             <p><a href="#">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

         <div class="grid-item">
           <figure>
           <img src="/images/burroughs/exterminator.jpg" alt="Exterminator!" />
           <figcaption>
             <p>
               Science-fantasy wars, racism, corporate capitalism, drug addiction, and various medical and psychiatric horrors all play their parts in this mosaiclike, experimental novel. Here is William S. Burroughs at his coruscating and hilarious best.
             </p>
             <p><a href="#">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/hippos.jpg" alt="And the Hippos Were Boiled In Their Tanks" />
            <figcaption>
              <p>
                In the summer of 1944, a shocking murder rocked the fledgling Beats. William S. Burroughs and Jack Kerouac, both still unknown, we inspired by the crime to collaborate on a novel, a hard-boiled tale of bohemian New York during World War II, full of drugs and art, obsession and brutality, with scenes and characters drawn from their own lives.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/interzone.jpg" alt="Interzone" />
            <figcaption>
              <p>
                <em>Interzone</em> is a collection of short stories and other early works by William S. Burroughs. The title was inspired by the International Zone in Tangiers, Morocco, where Burroughs lived for a time and by which he was greatly influenced.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/junky.jpg" alt="Junky" />
            <figcaption>
              <p>
                In his debut novel, Burroughs fictionalized his experiences using and peddling heroin and other drugs in the 1950s into a work that reads like a field report from the underworld of post-war America.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/naked.jpg" alt="Naked Lunch" />
            <figcaption>
              <p>
                <em>Naked Lunch</em> has become one of the most important novels of the twentieth century. Exerting its influence on the relationship of art and obscenity, it is one of the books that redefined not just literature but American culture. A valuable and fresh experience of a novel that has lost none of its relevance or satirical bite.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/nova.jpg" alt="Nova Express" />
            <figcaption>
              <p>
                Written using the 'fold-in' method, developed by Burroughs with Brion Gysin, of enfolding snippets of different texts into the novel, <em>Nova Express</em> is part of The Nova Trilogy, together with <em>The Soft Machine</em> and <em>The Ticket That Exploded</em>.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/place.jpg" alt="The Place of Dead Roads" />
            <figcaption>
              <p>
                A good old-fashion shoot-out in the American West of the frontier days serves as the springboard for this hyperkinetic adventure in which gunslingers, led by Kim Carson, fight for galactic freedom. <em>The Place of Dead Roads</em> is the second novel in the trilogy with <em>Cities of the Red Night</em> and The Western Lands.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/queer.jpg" alt="Queer" />
            <figcaption>
              <p>
                One of Burrough's most searing and astonishing writings. Dark, funny and full of the insights learned by courageous and intelligent writers who have genuinely lived on the very edges of society.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/soft.jpg" alt="The Soft Machine" />
            <figcaption>
              <p>
                <em>The Soft Machine</em> introduced us to the conditions of a universe where endemic lusts of the mind and body pray upon men, hook them, and turn them into beasts. This surrealist novel is part sci-fi, part Swiftian parody, and always pure Burroughs.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/ticket.jpg" alt="The Ticket That Exploded" />
            <figcaption>
              <p>
                <em>In The Ticket That Exploded</em>, William S. Burroughs’s grand “cut-up” trilogy that starts with <em>The Soft Machine</em> and continues through <em>Nova Express</em> reaches its climax as inspector Lee and the Nova Police engage the Nova Mob in a decisive battle for the planet.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/western.jpg" alt="The Western Lands" />
            <figcaption>
              <p>
                Burroughs's eagerly awaited final novel in the trilogy begun with <em>Cities of the Red Night</em> and <em>The Place of Dead Roads</em> is a profound, revealing, and often astonishing meditation on mortality, loneliness, nuclear peril, and the inextinguishable hope for life after death.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/wild.jpg" alt="The Wild Boys" />
            <figcaption>
              <p>
                <em>The Wild Boys</em> is a futuristic tale of global warfare in which a guerrilla gang of boys dedicated to freedom battles the organized armies of repressive police states. Making full use of his inimitable humor, wild imagination, and style, Burroughs creates a world that is as terrifying as it is fascinating.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/burroughs/yage.jpg" alt="The Yage Letters" />
            <figcaption>
              <p>
                In letters to Allen Ginsberg, an unknown young poet in New York, his journey to the Amazon jungle is recorded, detailing picaresque incidents of search for telepathic-hallucinogenic-mind-expanding drug Yage (Ayahuasca) used by Amazon Indian doctors for finding lost objects, mostly bodies and souls.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

     </div>
     <a href="#top"><h3 class="return-to-top animated fadeInRight">Back to Top</h3></a>
   </div>
  </div>
</div><!-- close container -->



<script type="text/javascript">

var author = "William S. Burroughs";

</script>
