<div class="container">
  <div class="row">
    <div class="col-md-12 center">

        <div id="quoteBox">
          <p class="quote"></p>
          <p id="authorBox" class="author"></p>
        </div><!--end quoteContainer-->

        <div id="buttonContainer">
          <a href="#" id="quoteButton"><button type="button" class="btn btn-primary btn-lg animated pulse">Generate Quote</button></a>
      </div><!--end buttonContainer-->

    </div><!--end col-12-->
  <a href="#books"><h3 class="book-header animated fadeInRight swing">Books by Allen Ginsberg</h3></a>
  </div><!--end row-->

  <div class="bookshelf center" id="books">
    <div class="row">

       <div class="grid">
        <div class="grid-sizer"></div>

         <div class="grid-item">
           <figure>
           <img src="/images/ginsberg/collected1.jpg" alt="Collected Poems 1947-1980" />
           <figcaption>
             <p>
               Gathered here for the first time is the verse of three decades of one of America's greatest poets. <em>Collected Poems 1947-1980</em> includes all writings in the groundbreaking paperback volumes published by City Lights Books, the contents of many rare pamphlets issued by small presses, and, finally, some notable texts hitherto unpublished—one, "Many Loves," withheld "for reasons of prudence and modesty," is an erotic rhapsody dating from the historic "San Francisco Renaissance" era.
             </p>
             <p><a href="#">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

         <div class="grid-item">
           <figure>
           <img src="/images/ginsberg/collected2.jpg" alt="Collected Poems 1947-1997" />
           <figcaption>
             <p>
               The uninterrupted energy of Ginsberg's remarkable career is clearly revealed in this collection. Seen in order of composition, the poems reflect on one another; they are not only works but also a work. Included here are all the poems from the earlier volume Collected Poems 1947-1980, and from Ginsberg's subsequent and final three books of new poetry: <em>White Shroud</em>, <em>Cosmopolitan Greetings</em>, and <em>Death & Fame</em>.
             </p>
             <p><a href="#">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

         <div class="grid-item">
           <figure>
           <img src="/images/ginsberg/cosmo.jpg" alt="Cosmopolitan Greetings" />
           <figcaption>
             <p>
               Half a century after "founding" the Beat Generation, Allen Ginsberg has written this powerful collection of poems that are suffused with a range of emotional colors that gives Ginsberg's work an elegiac tone.
             </p>
             <p><a href="#">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

          <div class="grid-item">
            <figure>
            <img src="/images/ginsberg/fall.jpg" alt="The Fall of America: Poems of These States 1965-1971" />
            <figcaption>
              <p>
                Beginning with "long poem of these States," <em>The Fall of America</em> continues Planet News chronicle tape-recorded scribed by hand or sung condensed, the flux of car bus airplane dream consciousness Person during Automated Electronic War years, newspaper headline radio brain auto poesy & silent desk musings, headline flashing on road through these states of consciousness.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/ginsberg/howl.jpg" alt="Howl and Other Poems" />
            <figcaption>
              <p>
                The prophetic poem that launched a generation when it was first published in 1965 is here presented in a commemorative fortieth Anniversary Edition.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/ginsberg/journal.jpg" alt="Journals Early Sixties" />
            <figcaption>
              <p>
                In the 1950s and early 1960s, Allen Ginsberg and his fellow Beats led an insurrection that profoundly altered the American literary and cultural landscapes. Collected here are journal entries culed from eighteen notebooks that Ginsberg kept during this extraordinary period -- thoughts, poems, dreams, reflections, and diary notes that intimately illuminate Ginsberg's actual travels and his mental journeys.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/ginsberg/mind.jpg" alt="Mind Breaths Poems 1972-1977" />
            <figcaption>
              <p>
                Meditations, rhapsodies, elegies, confessions, and mindful chronicle writings filling inward and outward space thru mid-Seventies decade.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/ginsberg/plutonian.jpg" alt="Plutonian Ode and Other Poems" />
            <figcaption>
              <p>
                <em>Plutonian Ode: Title</em> poem combines scientific info on 24,000-year cycle of the Great Year compared with equal half-life of Plutonium waste, accounting Homeric formula for appeasing underground millionaire Pluto Lord of Death, jack in the gnostic box of Aeons, and Adamantine Truth of ordinary mind inspiration, unhexing nuclear ministry of fear.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/ginsberg/reality.jpg" alt="Reality Sandwiches" />
            <figcaption>
              <p>
                Wake-up nightmares in Lower East Side, musings in public library, across the U.S. in dream auto, drunk in old Havana, brooding in Mayan ruins, sex daydreams on the West Coast, airplane vision of Kansas, lonely in a leafy cottage, lunch hour on Berkeley, beer notations on Skid Row, slinking to Mexico, wrote this last night in Paris, back on Times square dreaming of Times Square, bombed in NY again, loony tunes in the dentist chair, screaming at old poets in South America, aethereal zigzag Poesy in blue hotel room in Peru—a wind-up book of dreams, psalms, journal enigmas & nude minutes from 1953 to 1960 poems scattered in fugitive magazines here collected.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>
          <div class="grid-item">
            <figure>
            <img src="/images/ginsberg/white.jpg" alt="White Shroud" />

            <figcaption>
              <p>
                Poems by a modern master. "[Ginsberg's] powerful mixture of Blake, Whitman, Pound, and Williams, to which he added his own volatile, grotesque, and tender humor, has assured him a memorable place in modern poetry."<br/>- Helen Vendler
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

     </div>
   </div>
  </div>
</div><!-- close container -->



<script type="text/javascript">

var author = "Allen Ginsberg";

</script>
