<div class="container" id="top">
  <div class="row">
    <div class="col-md-12 center">

        <div id="quoteBox">
          <p class="quote"></p>
          <p id="authorBox" class="author"></p>
        </div><!--end quoteContainer-->

        <div id="buttonContainer">
          <a href="#" id="quoteButton"><button type="button" class="btn btn-primary btn-lg animated pulse">Generate Quote</button></a>
      </div><!--end buttonContainer-->

    </div><!--end col-12-->

    <div class="content">
      <div id="ginsberg"></div>
    </div>

  <a href="#books"><h3 class="book-header animated fadeInRight">Books by Allen Ginsberg</h3></a>
  </div><!--end row-->

  <div class="bookshelf center" id="books">
    <div class="row">

       <div class="grid">
        <div class="grid-sizer"></div>

         <div class="grid-item">
           <figure>
           <img src="/images/ginsberg/collected1.jpg" alt="Collected Poems 1947-1980" />
           <figcaption>
             <p>
               <em>Collected Poems 1947-1980</em> includes all writings in the groundbreaking paperback volumes published by City Lights Books, the contents of many rare pamphlets issued by small presses, and, finally, some notable texts hitherto unpublished—one, "Many Loves," - an erotic rhapsody dating from the historic "San Francisco Renaissance" era.
             </p>
             <p><a href="https://www.goodreads.com/book/show/563782.Collected_Poems_1947_1980">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

         <div class="grid-item">
           <figure>
           <img src="/images/ginsberg/collected2.jpg" alt="Collected Poems 1947-1997" />
           <figcaption>
             <p>
               The uninterrupted energy of Ginsberg's remarkable career is clearly revealed in this collection. Included here are all the poems from the earlier volume Collected Poems 1947-1980, and from Ginsberg's subsequent and final three books of new poetry: <em>White Shroud</em>, <em>Cosmopolitan Greetings</em>, and <em>Death & Fame</em>.
             </p>
             <p><a href="https://www.goodreads.com/book/show/50316.Collected_Poems_1947_1997">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

         <div class="grid-item">
           <figure>
           <img src="/images/ginsberg/cosmo.jpg" alt="Cosmopolitan Greetings" />
           <figcaption>
             <p>
               Half a century after "founding" the Beat Generation, Allen Ginsberg has written this powerful collection of poems that are suffused with a range of emotional colors that gives Ginsberg's work an elegiac tone.
             </p>
             <p><a href="https://www.goodreads.com/book/show/626693.Cosmopolitan_Greetings">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

          <div class="grid-item">
            <figure>
            <img src="/images/ginsberg/fall.jpg" alt="The Fall of America: Poems of These States 1965-1971" />
            <figcaption>
              <p>
                <em>The Fall of America</em> is more overtly political than most of his previous poetry with many of the poems about Ginsberg's condemnation of America's actions in Vietnam. It is characterized by a prophetic tone inspired by William Blake and Walt Whitman, as well as an objective view characterized by William Carlos Williams.
              </p>
              <p><a href="https://www.goodreads.com/book/show/53031.The_Fall_of_America">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/ginsberg/howl.jpg" alt="Howl and Other Poems" />
            <figcaption>
              <p>
                The prophetic poem that launched a generation when it was first published in 1965 is here presented in a commemorative fortieth Anniversary Edition.
              </p>
              <p><a href="https://www.goodreads.com/book/show/6295.Howl_and_Other_Poems">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/ginsberg/journal.jpg" alt="Journals Early Sixties" />
            <figcaption>
              <p>
                Collected here are journal entries culed from eighteen notebooks that Ginsberg kept during this extraordinary period -- thoughts, poems, dreams, reflections, and diary notes that intimately illuminate Ginsberg's actual travels and his mental journeys.
              </p>
              <p><a href="https://www.goodreads.com/book/show/226946.Journals">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/ginsberg/kaddish.jpg" alt="Kaddish and Other Poems" />
            <figcaption>
              <p>
                 "In the midst of the broken consciousness of mid-twentieth century," Allen Ginsberg's <em>Kaddish</em>, a poem about the death of his mother, Naomi, is one of his major works.
              </p>
              <p><a href="https://www.goodreads.com/book/show/47180.Kaddish_and_Other_Poems">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/ginsberg/mind.jpg" alt="Mind Breaths Poems 1972-1977" />
            <figcaption>
              <p>
                Meditations, rhapsodies, elegies, confessions, and mindful chronicle writings filling inward and outward space thru mid-Seventies decade.
              </p>
              <p><a href="https://www.goodreads.com/book/show/154380.Mind_Breaths">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/ginsberg/planet.jpg" alt="Planet News" />
            <figcaption>
              <p>
                <em>Planet News</em> is a book of poetry written by Ginsberg between 1961 and 1967, many written during his travels to India, Japan, Europe, Africa, and many other places.
              </p>
              <p><a href="https://www.goodreads.com/book/show/556636.Planet_News">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/ginsberg/plutonian.jpg" alt="Plutonian Ode and Other Poems" />
            <figcaption>
              <p>
                <em>Plutonian Ode</em> is a poem collection against the arms race and nuclear armament of the superpowers. It is heavily inspired by Gnosticism which Ginsberg came to know after reading Hans Jonas's book on the subject. Philip Glass' Symphony No. 6 is based on and includes parts of this poem.
              </p>
              <p><a href="https://www.goodreads.com/book/show/655781.Plutonian_Ode_and_Other_Poems">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/ginsberg/reality.jpg" alt="Reality Sandwiches" />
            <figcaption>
              <p>
                This book of poetry is dedicated to friend and fellow Beat poet Gregory Corso. Despite Ginsberg's feeling that this collection was not his most significant, the poems still represent Ginsberg at a peak period of his craft.
              </p>
              <p><a href="https://www.goodreads.com/book/show/81668.Reality_Sandwiches">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>
          <div class="grid-item">
            <figure>
            <img src="/images/ginsberg/white.jpg" alt="White Shroud" />

            <figcaption>
              <p>
                Poems by a modern master. "[Ginsberg's] powerful mixture of Blake, Whitman, Pound, and Williams, to which he added his own volatile, grotesque, and tender humor, has assured him a memorable place in modern poetry."<br/>- Helen Vendler
              </p>
              <p><a href="https://www.goodreads.com/book/show/744105.White_Shroud">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

     </div>
    <a href="#top"><h3 class="return-to-top animated fadeInRight">Back to Top</h3></a>
   </div>
  </div>
</div><!-- close container -->



<script type="text/javascript">

var author = "Allen Ginsberg";

</script>
