<div class="container">
  <div class="row">
    <div class="col-md-12 center">

        <div id="quoteBox">
          <p class="quote"></p>
          <p id="authorBox" class="author"></p>
        </div><!--end quoteContainer-->

        <div id="buttonContainer">
          <a href="#" id="quoteButton"><button type="button" class="btn btn-primary btn-lg animated pulse">Generate Quote</button></a>
      </div><!--end buttonContainer-->

    </div><!--end col-12-->
  <a href="#books"><h3 class="book-header animated fadeInRight swing">Books by Allen Ginsberg</h3></a>
  </div><!--end row-->

  <div class="bookshelf center" id="books">
    <div class="row">

       <div class="grid">
        <div class="grid-sizer"></div>

         <div class="grid-item"><img src="/images/ginsberg/collected1.jpg" alt="Collected Poems 1947-1980" /></div>
         <div class="grid-item"><img src="/images/ginsberg/collected2.jpg" alt="Collected Poems 1947-1997" /></div>
         <div class="grid-item"><img src="/images/ginsberg/cosmo.jpg" alt="Cosmopolitan Greetings" /></div>
          <div class="grid-item"><img src="/images/ginsberg/fall.jpg" alt="The Fall of America" /></div>
          <div class="grid-item"><img src="/images/ginsberg/howl.jpg" alt="Howl and Other Poems" /></div>
          <div class="grid-item"><img src="/images/ginsberg/journal.jpg" alt="Journals Early Sixties" /></div>
          <div class="grid-item"><img src="/images/ginsberg/mind.jpg" alt="Mind Breaths Poems 1972-1977" /></div>
          <div class="grid-item"><img src="/images/ginsberg/plutonian.jpg" alt="Plutonian Ode" /></div>
          <div class="grid-item"><img src="/images/ginsberg/reality.jpg" alt="Reality Sandwiches" /></div>
          <div class="grid-item"><img src="/images/ginsberg/white.jpg" alt="White Shroud" /></div>

     </div>
   </div>
  </div>
</div><!-- close container -->



<script type="text/javascript">

var author = "Allen Ginsberg";

</script>
