<div class="container">
  <div class="row">
    <div class="col-md-12 center">

        <div id="quoteBox">
          <p class="quote"></p>
          <p id="authorBox" class="author"></p>
        </div><!--end quoteContainer-->

        <div id="buttonContainer">
          <a href="#" id="quoteButton"><button type="button" class="btn btn-primary btn-lg">Generate Quote</button></a>
      </div><!--end buttonContainer-->

    </div><!--end col-12-->
  </div><!--end row-->

  <div class="row">
       <div class="grid">
         <!-- width of .grid-sizer used for columnWidth -->
         <div class="grid-sizer"></div>

           <div class="grid-item">lorem</div>
           <div class="grid-item">lorem</div>
           <div class="grid-item">lorem</div>
           <div class="grid-item">lorem</div>
           <div class="grid-item">lorem</div>
           <div class="grid-item">lorem</div>
           <div class="grid-item">lorem</div>

       </div>
   </div>

 </div><!-- close container -->



<script type="text/javascript">

var author = false;

</script>
