<div class="container" id="top">
  <div class="row">
    <div class="col-md-12 center">

        <div id="quoteBox">
          <p class="quote"></p>
          <p id="authorBox" class="author"></p>
        </div><!--end quoteContainer-->

        <div id="buttonContainer">
          <a href="#" id="quoteButton"><button type="button" class="btn btn-primary btn-lg animated pulse">Generate Quote</button></a>
      </div><!--end buttonContainer-->
    </div><!--end col-12-->

    <div class="content">
      <div id="kerouac"></div>
    </div>

          <a href="#books"><h3 class="book-header animated fadeInRight swing">Books by Jack Kerouac</h3></a>
  </div><!--end row-->

  <div class="bookshelf center" id="books">
    <div class="row">

       <div class="grid">
        <div class="grid-sizer">

        </div>

         <div class="grid-item">
           <figure>

           <img src="/images/kerouac/bigsur.jpg" alt="Big Sur" />
           <figcaption>
             <p>
               Written some time after his best-known works, <em>Big Sur</em> follows Jack Kerouac's comedown from his carefree youth and unwanted fame, presenting his mature confrontation of some of his most troubling emotional issues.
             </p>
             <p><a href="#">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

         <div class="grid-item">
           <figure>
           <img src="/images/kerouac/cody.jpg" alt="Visions of Cody" />
           <figcaption>
             <p>
               This is a celebration of the life of Neal Cassady, the author's friend and inspiration. The son of a Denver drop-out, brought up homeless and motherless during the Depression, Cassady - novelized as Cody - lived his life raw, hustling in pool halls, stealing cars and living wild.
             </p>
             <p><a href="#">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

         <div class="grid-item">
           <figure>
           <img src="/images/kerouac/desolation.jpg" alt="Desolation Angels" />
           <figcaption>
             <p>
                <em>Desolation Angels</em> is the story of Kerouac’s life just before the publication of On the Road—as told through his fictional self—Jack Duluoz. As he hitches, walks, and talks his way across the world, Duluoz perceives the angel that is in everything. It is life as he sees it.
             </p>
             <p><a href="#">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/dharma.jpg" alt="Dharma Bums" />
            <figcaption>
              <p>
                Two ebullient young men search for Truth the Zen way: from marathon wine-drinking bouts, poetry jam sessions, and "yabyum" in San Francisco's Bohemia to solitude in the high Sierras and a vigil atop Desolation Peak in Washington State. <em>The Dharma Bums</em> is sparked by Kerouac's expansiveness, humor, and a contagious zest for life.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/gerard.jpg" alt="Visions of Gerard" />
            <figcaption>
              <p>
                <em>Visions of Gerard</em> focuses on the scenes and sensations of childhood as they were revealed in the short tragic-happy life of his saintly brother, Gerard. Set in Kerouac's hometown of Lowell, Massachusetts, it is an unsettling, beautiful, and sad exploration of the meaning and precariousness of existence.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/hippos.jpg" alt="And the Hippos Were Boiled in Their Tanks" />
            <figcaption>
              <p>
                In the summer of 1944, a shocking murder rocked the fledgling Beats. William S. Burroughs and Jack Kerouac, both still unknown, were inspired by the crime to collaborate on a novel, a hard-boiled tale of bohemian New York during World War II, full of drugs and art, obsession and brutality, with scenes and characters drawn from their own lives.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/lonesome.jpg" alt="Lonesome Traveler" />
            <figcaption>
              <p>
                Jack Kerouac tells the exhilarating story fo the years when he was writing th books that captivated and infuriated the public, restless years of wandering during which he worked as a railway brakeman in California, a steward on a tramp steamer, and a fire lookout on the crest of Desolation Peak in the Cascade Mountains.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/maggie.jpg" alt="Maggie Cassidy" />
            <figcaption>
              <p>
                Long out of print, this touching novel of adolescent love in a New England mill town, with its straight-forward narrative structure, is one of Kerouac's most accesible works. It is a remarkable , bittersweet evocation of the awkwardness and the joy of growing up in America.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/mexico.jpg" alt="Mexico City Blues: 242 Choruses" />
            <figcaption>
              <p>
                Kerouac's most important poem, <em>Mexico City Blues</em>, incorporates all the elements of his theory of spontaneous composition. Memories, fantasies, dreams, and surrealistic free association are all lyrically combined in the loose format of the blues to create an original and moving epic.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/road.jpg" alt="On The Road" />
            <figcaption>
              <p>
                <em>On the Road</em> chronicles Jack Kerouac's years traveling North America with his friend Neal Cassady. The two roam the country in a quest for self-knowledge and experience. Kerouac's love of America, his compassion for humanity, and his sense of language as jazz combine to make On the Road an inspirational work of lasting importance.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/satori.jpg" alt="Satori in Paris & Pic" />
            <figcaption>
              <p>
                <em>Satori in Paris</em> and <em>Pic</em>, two of Jack Kerouac's last novels, showcase the remarkable range and versatility of his mature talent. <em>Satori in Paris</em> is an autobiographical account of Kerouac's search for his heritage in France. <em>Pic</em> charts the adventures of Pic and his brother Slim as they travel from the rural South to Harlem in the 1940s.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/sax.jpg" alt="Dr. Sax" />
            <figcaption>
              <p>
                “Kerouac dreams of America in the authentic rolling rhythms of a Whitman or a Thomas Wolfe, drunk with eagerness for life.” <br /><br />—John K. Hutchens
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/subterraneans.jpg" alt="The Subterraneans" />
            <figcaption>
              <p>
                Written over the course of three days and three nights, <em>The Subterraneans</em> centers on the tempestous breakup of Leo Percepied and Mardou Fox--two denizens of the 1950s San Francsico underground--<em>The Subterraneans</em> is a tale of dark alleys and dark rooms,of artists, of visionaries.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/tristessa.jpg" alt="Tristessa" />
            <figcaption>
              <p>
                "This entire short novel Tristessa's a narrative meditation studying a hen, a rooster, a dove, a cat, a chihuaha dog, family meat, and a ravishing, ravished junky lady, first in their crowded bedroom, then out to drunken streets, taco stands, & pads at dawn in Mexico City slums." <br /><br />—Allen Ginsberg
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/sea.jpg" alt="The Sea Is My Brother: The Lost Novel" />
            <figcaption>
              <p>
                In the spring of 1943, twenty-one-year old Jack Kerouac set out to write his first novel. Working diligently day and night to complete it by hand, he titled it <em>The Sea Is My Brother</em>. Nearly seventy years later, its long-awaited publication provides fascinating details and insight into the early life and development of an American literary icon.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

     </div>
    <a href="#top"><h3 class="return-to-top animated fadeInRight">Back to Top</h3></a>
   </div>
  </div>
</div><!-- close container -->



<script type="text/javascript">

var author = "Jack Kerouac";

</script>
