<div class="container">
  <div class="row">
    <div class="col-md-12 center">

        <div id="quoteBox">
          <p class="quote"></p>
          <p id="authorBox" class="author"></p>
        </div><!--end quoteContainer-->

        <div id="buttonContainer">
          <a href="#" id="quoteButton"><button type="button" class="btn btn-primary btn-lg animated pulse">Generate Quote</button></a>
      </div><!--end buttonContainer-->
    </div><!--end col-12-->
          <a href="#books"><h3 class="book-header animated fadeInRight swing">Books by Jack Kerouac</h3></a>    
  </div><!--end row-->

  <div class="bookshelf center" id="books">
    <div class="row">

       <div class="grid">
        <div class="grid-sizer"></div>

         <div class="grid-item"><img src="/images/kerouac/bigsur.jpg" alt="Big Sur" /></div>
         <div class="grid-item"><img src="/images/kerouac/cody.jpg" alt="Visions of Cody" /></div>
         <div class="grid-item"><img src="/images/kerouac/desolation.jpg" alt="Desolation Angels" /></div>
          <div class="grid-item"><img src="/images/kerouac/dharma.jpg" alt="Dharma Bums" /></div>
          <div class="grid-item"><img src="/images/kerouac/gerard.jpg" alt="Visions of Gerard" /></div>
          <div class="grid-item"><img src="/images/kerouac/hippos.jpg" alt="Hippos Were Boiled In Their Tanks" /></div>
          <div class="grid-item"><img src="/images/kerouac/lonesome.jpg" alt="Lonesome Traveler" /></div>
          <div class="grid-item"><img src="/images/kerouac/maggie.jpg" alt="Maggie Cassidy" /></div>
          <div class="grid-item"><img src="/images/kerouac/mexico.jpg" alt="Mexico City Blues" /></div>
          <div class="grid-item"><img src="/images/kerouac/road.jpg" alt="On The Road" /></div>
          <div class="grid-item"><img src="/images/kerouac/satori.jpg" alt="Satori in Paris & Pic" /></div>
          <div class="grid-item"><img src="/images/kerouac/sax.jpg" alt="Dr. Sax" /></div>
          <div class="grid-item"><img src="/images/kerouac/subterraneans.jpg" alt="The Subterraneans" /></div>
          <div class="grid-item"><img src="/images/kerouac/tristessa.jpg" alt="Tristessa" /></div>
          <div class="grid-item"><img src="/images/kerouac/sea.jpg" alt="The Sea Is My Brother" /></div>

     </div>
   </div>
  </div>
</div><!-- close container -->



<script type="text/javascript">

var author = "Jack Kerouac";

</script>
