<div class="container" id="top">
  <div class="row">
    <div class="col-md-12 center">

        <div id="quoteBox">
          <p class="quote"></p>
          <p id="authorBox" class="author"></p>
        </div><!--end quoteContainer-->

        <div id="buttonContainer">
          <a href="#" id="quoteButton"><button type="button" class="btn btn-primary btn-lg animated pulse">Generate Quote</button></a>
      </div><!--end buttonContainer-->
    </div><!--end col-12-->
          <a href="#books"><h3 class="book-header animated fadeInRight swing">Books by Jack Kerouac</h3></a>
  </div><!--end row-->

  <div class="bookshelf center" id="books">
    <div class="row">

       <div class="grid">
        <div class="grid-sizer">

        </div>

         <div class="grid-item">
           <figure>

           <img src="/images/kerouac/bigsur.jpg" alt="Big Sur" />
           <figcaption>
             <p>
               Written some time after his best-known works, <em>Big Sur</em> follows Jack Kerouac's comedown from his carefree youth and unwanted fame, presenting his mature confrontation of some of his most troubling emotional issues.
             </p>
             <p><a href="#">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

         <div class="grid-item">
           <figure>
           <img src="/images/kerouac/cody.jpg" alt="Visions of Cody" />
           <figcaption>
             <p>
               This is a celebration of the life of Neal Cassady, the author's friend and inspiration. The son of a Denver drop-out, brought up homeless and motherless during the Depression, Cassady - novelized as Cody - lived his life raw, hustling in pool halls, stealing cars and living wild.
             </p>
             <p><a href="#">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

         <div class="grid-item">
           <figure>
           <img src="/images/kerouac/desolation.jpg" alt="Desolation Angels" />
           <figcaption>
             <p>
               <em>Desolation Angels</em> is the wild and soulful story of the legendary road trip that Jack Kerouac took before the publication of On the Road, told through the persona of Jack Duluoz and accompanied by his thinly-disguised Beat cohorts Allen Ginsberg, Gregory Corso and William Burroughs. As they hitch, hop freight trains, walk and talk their way across the world, from California to Mexico, London to Paris and on to opium-ridden Tangiers, Kerouac chronicles their poetry, partying, mountain vigils and spiritual contemplation with unsurpassable energy and humanity.
             </p>
             <p><a href="#">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/dharma.jpg" alt="Dharma Bums" />
            <figcaption>
              <p>
                Two ebullient young men search for Truth the Zen way: from marathon wine-drinking bouts, poetry jam sessions, and "yabyum" in San Francisco's Bohemia to solitude in the high Sierras and a vigil atop Desolation Peak in Washington State. Published just a year after On the Road put the Beat Generation on the map, <em>The Dharma Bums</em> is sparked by Kerouac's expansiveness, humor, and a contagious zest for life.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/gerard.jpg" alt="Visions of Gerard" />
            <figcaption>
              <p>
                Unique among Jack Kerouac's novels, <em>Visions of Gerard</em> focuses on the scenes and sensations of childhood—the wisdom, anguish, intensity, innocence, evil, insight, suffering, delight, and shock—as they were revealed in the short tragic-happy life of his saintly brother, Gerard. Set in Kerouac's hometown of Lowell, Massachusetts, it is an unsettling, beautiful, and sad exploration of the meaning and precariousness of existence.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/hippos.jpg" alt="And the Hippos Were Boiled in Their Tanks" />
            <figcaption>
              <p>
                In the summer of 1944, a shocking murder rocked the fledgling Beats. William S. Burroughs and Jack Kerouac, both still unknown, we inspired by the crime to collaborate on a novel, a hard-boiled tale of bohemian New York during World War II, full of drugs and art, obsession and brutality, with scenes and characters drawn from their own lives. Finally published after more than sixty years, this is a captivating read, and incomparable literary artifact, and a window into the lives and art of two of the twentieth century’s most influential writers.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/lonesome.jpg" alt="Lonesome Traveler" />
            <figcaption>
              <p>
                In his first frankly autobiographical work, Jack Kerouac tells the exhilarating story fo the years when he was writing th books that captivated and infuriated the public, restless years of wandering during which he worked as a railway brakeman in California, a steward on a tramp steamer, and a fire lookout on the crest of Desolation Peak in the Cascde Mountains.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/maggie.jpg" alt="Maggie Cassidy" />
            <figcaption>
              <p>
                <em>Maggie Cassidy</em> was not published until 1959, after the appearance of <em>On the Road</em> had made its author famous overnight, Long out of print, this touching novel of adolescent love in a New England mill town, with its straight-forward narrative structure, is one of Kerouac's most accesible works. It is a remarkable , bittersweet evocation of the awkwardness and the joy of growing up in America.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/mexico.jpg" alt="Mexico City Blues: 242 Choruses" />
            <figcaption>
              <p>
                Kerouac's most important poem, <em>Mexico City Blues</em>, incorporates all the elements of his theory of spontaneous composition. Memories, fantasies, dreams, and surrealistic free association are all lyrically combined in the loose format of the blues to create an original and moving epic.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/road.jpg" alt="On The Road" />
            <figcaption>
              <p>
                <em>On the Road</em> chronicles Jack Kerouac's years traveling the North American continent with his friend Neal Cassady, "a sideburned hero of the snowy West." As "Sal Paradise" and "Dean Moriarty," the two roam the country in a quest for self-knowledge and experience. Kerouac's love of America, his compassion for humanity, and his sense of language as jazz combine to make On the Road an inspirational work of lasting importance.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/satori.jpg" alt="Satori in Paris & Pic" />
            <figcaption>
              <p>
                Satori in Paris and Pic, two of Jack Kerouac's last novels, showcase the remarkable range and versatility of his mature talent. Satori in Paris is a rollicking autobiographical account of Kerouac's search for his heritage in France, and lands the author in his familiar milieu of seedy bars and all-night conversations. Pic is Kerouac's final novel and one of his most unusual. Narrated by ten-year-old Pictorial Review Jackson in a North Carolina vernacular, the novel charts the adventures of Pic and his brother Slim as they travel from the rural South to Harlem in the 1940s.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/sax.jpg" alt="Dr. Sax" />
            <figcaption>
              <p>
                “Kerouac dreams of America in the authentic rolling rhythms of a Whitman or a Thomas Wolfe, drunk with eagerness for life.” <br />—John K. Hutchens
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/subterraneans.jpg" alt="The Subterraneans" />
            <figcaption>
              <p>
                Written over the course of three days and three nights, <em>The Subterraneans</em> was generated out of the same ecstatic flash of inspiration that produced another one of Kerouac's early classic, <em>On The Road</em>. Centering on the tempestous breakup of Leo Percepied and Mardou Fox--two denizens of the 1950s San Francsico underground--<em>The Subterraneans</em> is a tale of dark alleys and dark rooms,of artists, of visionaries.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/tristessa.jpg" alt="Tristessa" />
            <figcaption>
              <p>
                "This entire short novel Tristessa's a narrative meditation studying a hen, a rooster, a dove, a cat, a chihuaha dog, family meat, and a ravishing, ravished junky lady, first in their crowded bedroom, then out to drunken streets, taco stands, & pads at dawn in Mexico City slums." <br />—Allen Ginsberg
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/kerouac/sea.jpg" alt="The Sea Is My Brother: The Lost Novel" />
            <figcaption>
              <p>
                In the spring of 1943, twenty-one-year old Jack Kerouac set out to write his first novel. Working diligently day and night to complete it by hand, he titled it <em>The Sea Is My Brother</em>. Nearly seventy years later, its long-awaited publication provides fascinating details and insight into the early life and development of an American literary icon. A clear precursor to such landmark works as <em>On the Road</em>, <em>The Dharma Bums</em>, and <em>Visions of Cody</em>, it is an important formative work that hints at the hallmarks of classic Kerouac: the search for spiritual meaning in a materialistic world, spontaneous travel as the true road to freedom, late nights in bars engaged in intense conversation, the desperate urge to escape from society, and the strange, terrible beauty of loneliness.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

     </div>
    <a href="#top"><h3 class="return-to-top animated fadeInRight">Back to Top</h3></a>
   </div>
  </div>
</div><!-- close container -->



<script type="text/javascript">

var author = "Jack Kerouac";

</script>
