<div class="container">
  <div class="row">
    <div class="col-md-12 center">

        <div id="quoteBox">
          <p class="quote"></p>
          <p id="authorBox" class="author"></p>
        </div><!--end quoteContainer-->

        <div id="buttonContainer">
          <a href="#" id="quoteButton"><button type="button" class="btn btn-primary btn-lg animated pulse">Generate Quote</button></a>
      </div><!--end buttonContainer-->

    </div><!--end col-12-->
          <a href="#books"><h3 class="book-header animated fadeInRight swing">Books by Gary Snyder</h3></a>
  </div><!--end row-->

  <div class="bookshelf center" id="books">
    <div class="row">

       <div class="grid">
        <div class="grid-sizer"></div>

         <div class="grid-item"><img src="/images/snyder/axe.jpg" alt="Axe Handles" /></div>
         <div class="grid-item"><img src="/images/snyder/back.jpg" alt="Back on the Fire" /></div>
         <div class="grid-item"><img src="/images/snyder/danger.jpg" alt="Danger on Peaks" /></div>
          <div class="grid-item"><img src="/images/snyder/earth.jpg" alt="Earth House Hold" /></div>
          <div class="grid-item"><img src="/images/snyder/left.jpg" alt="Left Out In The Rain" /></div>
          <div class="grid-item"><img src="/images/snyder/myths.jpg" alt="Myths & Texts" /></div>
          <div class="grid-item"><img src="/images/snyder/old.jpg" alt="The Old Ways" /></div>
          <div class="grid-item"><img src="/images/snyder/practice.jpg" alt="Practice of the Wild" /></div>
          <div class="grid-item"><img src="/images/snyder/present.jpg" alt="This Present Moment" /></div>
          <div class="grid-item"><img src="/images/snyder/turtle.jpg" alt="Turtle Island" /></div>

     </div>
   </div>
  </div>
</div><!-- close container -->



<script type="text/javascript">

var author = "Gary Snyder";

</script>
