<div class="container" id="top">
  <div class="row">
    <div class="col-md-12 center">

        <div id="quoteBox">
          <p class="quote"></p>
          <p id="authorBox" class="author"></p>
        </div><!--end quoteContainer-->

        <div id="buttonContainer">
          <a href="#" id="quoteButton"><button type="button" class="btn btn-primary btn-lg animated pulse">Generate Quote</button></a>
      </div><!--end buttonContainer-->

    </div><!--end col-12-->
          <a href="#books"><h3 class="book-header animated fadeInRight swing">Books by Gary Snyder</h3></a>
  </div><!--end row-->



  <div class="bookshelf center" id="books">
    <div class="row">
      <div class="grid">
        <div class="grid-sizer"></div>
         <div class="grid-item">
           <figure>
             <img src="/images/snyder/axe.jpg" alt="Axe Handles: Poems" />
             <figcaption>
               <p>
                 In Axe Handles Mr. Snyder reveals the roots of community in the family and explores the transmission of cultural values and knowledge.
               </p>
               <p><a href="#">Read More</a></p>
             </figcaption>
           </figure>
         </div>


         <div class="grid-item">
           <figure>
           <img src="/images/snyder/back.jpg" alt="Back on the Fire: Essays" />
           <figcaption>
             <p>
               These essays employ fire as a metaphor for the crucial moment when deeply held viewpoints yield to new experiences, and our spirits and minds broaden and mature. Snyder writes on a wide range of topics, from European Paleolithic cave art to his own personal poetic history and more.
             </p>
             <p><a href="#">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

         <div class="grid-item">
           <figure>
           <img src="/images/snyder/danger.jpg" alt="Danger on Peaks" />
           <figcaption>
             <p>
               <em>Danger on Peaks</em> begins with poems about Snyder’s first ascent of Mount St. Helens in 1945 and his learning that atomic bombs had been dropped on Hiroshima and Nagasaki on the morning of his descent. <em>Danger on Peaks</em> is Snyder’s most personal work ever.
             </p>
             <p><a href="#">Read More</a></p>
             <a href="#" class="close-caption hidden">x</a>
           </figcaption>
         </figure>
         </div>

          <div class="grid-item">
            <figure>
            <img src="/images/snyder/earth.jpg" alt="Earth House Hold: Technical Notes & Queries to Fellow Dharma Revolutionaries" />
            <figcaption>
              <p>
                As a poet," Snyder tells us, "I hold the most archaic values on earth. They go back to the late Paleolithic; the fertility of the soil, the magic of animals, the power-vision in solitude, the terrifying intuition and rebirth; the love and ecstasy of the dance, the common work of the tribe."
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/snyder/left.jpg" alt="Left Out In The Rain" />
            <figcaption>
              <p>
                Inspired by the ancient Chinese proverb, “There’s nothing you can own that can’t be left out in the rain,” this collection charts the journeys of the poet from 1947 to 1985. With a new introduction by the author, <em>Left Out in the Rain</em> captures the evolution of the poet and the man.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/snyder/myths.jpg" alt="Myths & Texts" />
            <figcaption>
              <p>
                The three sequences in the book―"Logging," "Hunting," "Burning"―show the remarkable cohesiveness in Snyder's writings over the years, for we find the poet absorbed, then as now, with Buddhist and Amerindian lore and other interconnections East and West, but above all with the premedical devotion to the land and work.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure><img src="/images/snyder/old.jpg" alt="The Old Ways" />
              <figcaption>
                <p>
                  "Mankind has a rendezvous with destiny in Outer Space.' Some say. We are already travelling in space. This is the galaxy, right here. The wisdom and skill of those who studied the universe first hand, by direct knowledge and experience, for millennia, both inside and outside themselves, is what we might call the Old Ways."
                </p>
                <p><a href="#">Read More</a></p>
                <a href="#" class="close-caption hidden">x</a>
              </figcaption>
            </figure>
            </div>

          <div class="grid-item">
            <figure>
            <img src="/images/snyder/practice.jpg" alt="Practice of the Wild" />
            <figcaption>
              <p>
                <em>The Practice of the Wild</em> displays the deep understanding and wide erudition of Gary Snyder in the ways of Buddhist belief, wildness, wildlife, and the world. <em>The Practice of the Wild</em> is widely accepted as one of the central texts on the interaction of nature and culture.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/snyder/present.jpg" alt="This Present Moment: New Poems" />
            <figcaption>
              <p>
                Snyder's first collection of new poems since his celebrated <em>Danger on Peaks</em>, published in 2004. Journeys to the Dolomites, to the north shore of Lake Tahoe, from Paris and Tuscany to the shrine at Delphi, from Santa Fe to Sella Pass, Snyder lays out poems as a map of the last decade.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

          <div class="grid-item">
            <figure>
            <img src="/images/snyder/turtle.jpg" alt="Turtle Island" />
            <figcaption>
              <p>
                <em>Turtle Island</em> is a book of poems and essays expressing Snyder's vision for humans to live in harmony with the earth and all its creatures. The book was awarded the Pulitzer Prize for Poetry in 1975.
              </p>
              <p><a href="#">Read More</a></p>
              <a href="#" class="close-caption hidden">x</a>
            </figcaption>
          </figure>
          </div>

     </div>
    <a href="#top"><h3 class="return-to-top animated fadeInRight">Back to Top</h3></a>
   </div>
  </div>
</div><!-- close container -->



<script type="text/javascript">

var author = "Gary Snyder";

</script>
