.center {
  text-align: center;
}

.quote {
  font-size: 36px;
}

.author {
  font-size: 28px;
  font-weight: bold;
}

body {
  background-image: url("/images/natural_paper.png");
  background-repeat: repeat;
  font-size: 14px;
}

.grid-item {
  width:250px;
  margin:0 auto;
  padding:10px;

  img {
    width: 100%;
  }
}

.grid {
  margin: 0 auto;
}

#quoteBox {
  margin-top: 20%;
}

.bookshelf {
  margin-top:50%;
  padding-top:50px;
}

.bdata div {
  display: none;
  cursor: pointer;
}

.book-header {
  position: absolute;
  bottom:0;
  right:3%;
  font-weight: bolder;
}
