.center {
  text-align: center;
}

.quote {
  font-size: 36px;
}

.author {
  font-size: 28px;
  font-weight: bold;
}

body{
    background-image: url("/images/natural_paper.png");
    background-repeat: repeat;
  }

.grid-item { width: 200px; padding: 10px;}
.grid-item--width2 { width: 400px; }

#quoteBox {
  margin-top: 15%;
}
